body {
    background: #FCFFE9;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

.monster {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.monster img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: none;
}

.monster__breath1 {
    animation: 1s breath1 infinite;
}

.monster__breath2 {
    animation: 1s breath2 infinite;
}

/* Animation Keyframes*/
@keyframes breath1 {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes breath2 {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

.monster__open {
    opacity: 0;
}

.monster__closed {
    opacity: 0;
    z-index: 5;
}

.monster:hover .monster__closed,
.monster:focus .monster__closed {
    opacity: 1;
}

.monster:hover .monster__breath1,
.monster:hover .monster__breath2,
.monster:focus .monster__breath1,
.monster:focus .monster__breath2 {
    opacity: 0;
    animation: none;
}

.farm {
    width: calc(72px * 4);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}

.parcel {
    width: 72px;
    height: 72px;
    max-width: 100%;
    height: auto;
    position: relative;
}

.stem, .barren img {
    width: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.flower {
    height: auto;
    width: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.flower1 {
    bottom: calc(8px * 2);
}

.flower2 {
    bottom: calc(8px * 6);
    left: calc(8px * 3);
}

.flower3 {
    bottom: calc(8px * 4);
    left: calc(8px * 6);
}

.harvested {
    opacity: 0;
}